.section-loader {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $grey-background;
    z-index: 2;
    animation: fadeOut 0.5s 2s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .loader-ohmyfood {
        border-radius: 50px;
        border: 6px solid rgba(255,255,255,0.4);        
        width: 60px;
        height: 60px;
        display: inline-block; 
        position: relative; 
    } 
    .loader-ohmyfood::after {
        content:"";
        position: absolute;
        top: -6px;
        left: -6px;
        width: 50px;
        height: 50px;
        border: 6px solid transparent;
        border-radius: 50px;
        border-top-color: $primary-color;
        animation:rotate 1s linear infinite;
        animation-name: rotate;
        animation-duration: 450ms, 600ms;
        animation-timing-function: linear, ease;
        animation-iteration-count: infinite, 1;
        animation-delay: 400ms;
        animation-fill-mode: forwards;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
